@font-face {
  font-family: Raleway;
  src: local('Raleway'), url('../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
}

.container {
  width: 300px;
  height: 600px;
}

.header {
  width: 100%;
  height: 30%;

  &-background {
    height: 100%;
    overflow: hidden;
    position: relative;

    .header-background-image {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.6;
    }

    .header-text {
      position: relative;
    }
  }
}

.completed {
  opacity: .4;
}